body{
  background: #e6e6e6;
  margin:0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.container{
  width: 90%;  
  margin: 0 auto;
  max-width: 1200px;
  display: flex;  
  gap:30px;
  flex-direction: column;
  flex-wrap: wrap;  
}

.contenedor-idespecifico{
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(230px,1fr));;
}