body{
  background: #e6e6e6;
  margin:0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.container{
  width: 90%;
  margin: 0 auto;
  max-width: 1200px;
  display: flex;
  justify-content: space-evenly;
  gap:30px;
  flex-direction: row;
  flex-wrap: wrap;  
}

