.gif{    
    position:relative;      
    cursor:pointer;
    opacity:0;
    top:20px;  
    background: white;
    /* width: 200px; */
    padding:10px;  
    display: flex;
    flex-direction: column;  
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    text-align: center;
    text-decoration: none;
    transition:font-weight 50ms linear,box-shadow 100ms ease,top ease-in-out 200ms, opacity linear 200ms;  
  }
  .gif img{  
    width: 100%;
    object-fit: cover;
    height: 200px;
    border-radius: 10px;;
  }
  
  .gif p{
    color:black;
    margin:5px 0;
    font-size: 0.7em;  
  }
  
  .gif:hover{    
    transform: scale(1.1);
    /* box-shadow: 0px 0px 0px 800px rgba(0, 0, 0, 0.282); */
    font-weight: bold;
  }
  
  .visible{
    top:0;
      opacity:1;
    /* animation-name: fadeIn;
    animation-duration: 0.5s; */
  }
  @keyframes fadeIn {
    0%{
      top:20px;
      opacity:0;
    }
    100%{
      top:0;
      opacity:1;
    }
    
  }
  